body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
    align-items: center;
    text-align: center;
}
.container p { 
    color: green; 
}

.container p:nth-child(2) { 
    color: yellow; 
    background-color: #8c8c8c;
    padding: 10px;
}

.container p:nth-child(3) { 
    color: purple; 
}

.main p { 
    color: green; 
}
.content .item{
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    
    background-color: tomato;
}

.content {
    border: 5px solid black;
    padding: 20px;
    width: 250px;
    display: flex; 
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 290px;
    height: 200px;
    position: relative; 
    border: 5px solid black;
}

.child {
    width: 100px;
    height: 100px;  
    background-color: tomato;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}